.Header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83B4B8;
    box-shadow: 1px 1px 1px 1px silver;
    height: 50px;
    padding: 10px 200px;
}

.header-option a{
    color: white;
}



