.divContatos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242626;
}

.bodyContatos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8a11fb;
    color: black;
    border-radius: 25px;
    padding: 40px 30px;
    width: 600px;
    margin-bottom: 50px;
}

.bodyContatos h1{
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
}

.botao-contatos{
    margin-top: 30px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.botao-contatos:hover{
    border: 1px solid black;
    background-color: #8a11fb;
    color: white;
}

.inputComentario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputComentario label{
    margin-top: 20px;
    margin-left: -400px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    border: none;
    color: white;
}

.inputComentario textarea{
    width: 500px;
    border-radius: 25px;
    padding: 10px 15px;
    resize: vertical;
}


@media (max-width:800px){
    .divContatos{
        display: flex;
        justify-content: center;
    }

    .inputComentario textarea{
        width: 300px;
    }

    .inputComentario label{
        margin-left: -200px;
    }

    .bodyContatos{
        width: 350px;
    }

    .bodyContatos h1{
        font-size: 15px;
    }
}

@media (max-width:550px){
    
    
    .bodyContatos{
        width: 280px;
    }
}   