.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-fullstack-home{
    height: 400px;
    width: 100%;
    background-image: url("../../assets/home/WEB-Full-Stack-Developer.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.div-principal-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px 2px silver;
    border-radius: 25px;
    width: 80%;
    padding: 10px;
    margin-bottom: 50px;
}

.conteudo-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}

.conteudo-paragrafo{
    padding: 20px 50px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: #83B4B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-paragrafo img{
    border-radius: 25px;
    height: 200px;
    width: 400px;
    margin-left: 20px;
}

.botao-home{
    margin-bottom: 50px;
}

.botao-home a{
    background-color: #83B4B8;
    color: black;
    padding: 10px 20px;
    height: 20px;
    width: 20px ;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.botao-home a:hover{
    background-color: white;
    color: black;
    border: 1px solid #83B4B8;
}

@media (max-width:900px){
    .conteudo-paragrafo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:730px){
    .titulo-home h2{
        margin-left: 60px;
        padding: 0px 30px;
    }

    .conteudo-paragrafo{
        width: 300px;
    }

    .conteudo-paragrafo img{
        width: 300px;
    }
    
    .div-principal-home{
        width: 400px;
        display: flex;
        justify-content: center;

    }
}
