.div-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.titulo-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.cadastro{
    background-color: #83B4B8;
    border-radius: 25px;
    padding: 50px;
}

.div-botao-cadastro{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-cadastro{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.botao-cadastro:hover{
    background-color: #83B4B8;
    color: white;
    border: 1px solid black;
}

.confirmar-senha{
    display: flex;
    margin: 10px;
    align-items: center;
    flex-direction: column;
}

.confirmar-senha label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -340px;
}

.confirmar-senha input{
    width: 500px;
    height: 20px;
    border-radius: 25px;
    border: none;
    padding: 4px 10px;
}
